<body>
    <div id="menu">
        <!-- Menu Content Goes Here -->
        <h2 class="titleS">SCADA Sys</h2>
        <div id="buttons">
           
            <button class="menu-button  active">
                
                <span class="button-icon">
                    <i class="fas   fa-clipboard ic"></i>
                </span>
                <span class="button-text">Trending</span>
            </button>
            <button class="menu-button">
                <span class="button-icon">
                    <i class="fas fa-file-alt ic"></i>
                </span>
                <span class="button-text">Reports</span>
            </button>

            <div class="button-container">
                <button class=" logoutBtn menu-button">
                    <span class="button-icon">
                        <i class="fas fa-sign-out-alt ic"></i>
                    </span>
                    <span class="button-text">Logout</span>
                </button>
            </div>
        </div>



    </div>

    <div id="main">
        <div class="mainm">
            <div id="title">Tags</div>
            <div id="separator"></div>
            <!-- Main Section Content Goes Here -->
            <div class="context">
                <div class="left-column">
                    <div class="albums">
                        <div class="card card-with-shadow" style="width: 250px;">
                            <div class="content-card">
                                <div class="card-header">
                                    <h4 class="card-title">Value</h4>
                                    <h2 class="card-number">70 345</h2>
                                    <h4 class="card-title">High limit: <span style="color: #FFFFFF;">1000</span> </h4>
                                    <h4 class="card-title">Low limit: <span style="color: #FFFFFF;">200</span></h4>
                                </div>
                                <div class="card-actions">
                                    <button class="action-btn"><i class="fas fa-trash"></i></button>
                                    <button class="action-btn"><i class="fas fa-pen"></i></button>
                                    <button class="action-btn"><i class="fas fa-bell"></i></button>
                                </div>
                                <!-- The toggle switch is now outside of the card-actions div -->
                                <label class="toggle-switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="right-column">

                </div>
            </div>
        </div>
    </div>
</body>